<a href="https://colab.research.google.com/github/atulpatil2228/Pw_Revision_Lec/blob/main/Object_Oriented_Programing_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
class Car :
  def __init__(self ,make,model, colour,years):
    self.make = make
    self.colour = colour
    self.years =  years
    self.model = model


  def display_info(self):
    print(f'make : {self.make}')
    print(f'colour : {self.colour}')
    print(f'years : {self.years}')
    print(f'model : {self.model}')

In [3]:
my_car  = Car('Toyota' ,'Corolla' , 'Black' ,2022)

In [6]:
my_car.make

'Toyota'

In [8]:
my_car.display_info()

make : Toyota
colour : Black
years : 2022
model : Corolla

In [14]:
class Dog :
  def __init__(self,name,age,breed,colour):
    self.name = name
    self.age =  age
    self.breed =  breed
    self.colour = colour
    self.energy_level = 5



    def bark(self):
      print('woof!,woof!')



  def display_info(self):
     print(f'name : {self.name}')
     print(f'colour : {self.colour}')
     print(f'age : {self.age}')
     print(f'breed : {self.breed}')
     print(f'energy_level : {self.energy_level}')

  def play(self):
    print(f'{self.name} is playig')
    self.energy_level  += 2

In [15]:
dog = Dog('Lucky' ,22,'siberia husky' ,'white')

In [26]:
dog.display_info()

name : Lucky
colour : white
age : 22
breed : siberia husky
energy_level : 9

In [23]:
dog.energy_level

7

In [25]:
dog.play()

Lucky is playig

In [32]:
class Persons :

 company  = 'Pw Skills'

 def __init__(self,name ,surname,year_of_birth):
  self.name = name
  self.surname =  surname
  self.year_of_birth =  year_of_birth

In [37]:
p1  = Persons("Atul" , "Patil" ,'22/04/1999')
print(p1.name,p1.surname,p1.year_of_birth)

Atul Patil 22/04/1999

In [36]:
p1.company

'Pw Skills'

In [39]:
class Bank :
  def __init__(self,name ,account_number,balance):
    self.name = name
    self.account_number = account_number
    self.balance = balance

  def deposit(self,amount) :
    if amount > 0 :
      self.balance += amount
      print(f'Depossited ${amount}. New Balance : ${self.balance} ')
    else :
      print('Invalid amount of deposit')

  def add_money(self,amount):
    if amount > 0 :
      self.balance += amount
      print(f'added ${amount} to blace. New balance : ${self.balance}')
    else :
      print('Invalid amount for addition')

In [45]:
a1 = Bank ('Atul' ,123,10000000000)

In [46]:
a1.deposit(90000)

Depossited $90000. New Balance : $10000090000

In [47]:
a1.name =  ' Anna'

In [48]:
a1.name

' Anna'

In [49]:
a1.balance

10000090000

In [54]:
class Bank :
  def __init__(self,name ,account_number,balance):
    self._name = name
    self.account_number = account_number
    self.balance = balance

  def deposit(self,amount) :
    if amount > 0 :
      self.balance += amount
      print(f'Depossited ${amount}. New Balance : ${self.balance} ')
    else :
      print('Invalid amount of deposit')

  def add_money(self,amount):
    if amount > 0 :
      self.balance += amount
      print(f'added ${amount} to blace. New balance : ${self.balance}')
    else :
      print('Invalid amount for addition')


  def display_info(self):
   print(f'name : {self._name}')

In [55]:
a1 = Bank ('Atul' ,123,10000000000)

In [56]:
a1.name  = 'annna'

In [57]:
a1.name

'annna'

In [59]:
a1.display_info()

name : Atul