In [1]:
## syntax
#def userDefFunction(arg1,aarg2,arg3....):
  #program statment 1
 # program statment 2
 # program statement 3
  #..........
 # return

In [3]:
def greetings():
  print('Hello , everyone')

In [4]:
## call the functio
greetings()

Hello , everyone

In [12]:
def greetings2(name):
  print(f"Hello {name}")

In [13]:
greetings2('Atul')

Hello Atul

In [10]:
def greetings2(name1,name2):
  print(f"Hello {name1,name2}")

In [11]:
greetings2('atul' ,'anna')

Hello ('atul', 'anna')

In [17]:
def travel_or_not(bike,car):
  Travel_100_Km = bike or car
  print(f'you have bike:{bike}')
  print(f'you have car:{car}')
  print(f'you can travel 100 km :{Travel_100_Km}\n')

In [18]:
travel_or_not('zen' ,'vira')

you have bike:zen
you have car:vira
you can travel 100 km :zen

In [20]:
def add_two_no(x,y):
  print(x+y)

In [21]:
add_two_no(77,33)

110

In [22]:
def add_no(x,y,t,r,g,n):
  print(x+y+t+r+g+n)

In [23]:
add_no(1,22,33,44,667,121)

888

In [29]:
def student_details(first_name,Company):
  print(f'Hi My name is {first_name} and i am working{Company}')

In [27]:
student_details('Deloitte','ekta')

Hi My name isDeloitte and i am workingekta

In [30]:
student_details(Company='Deloitte',first_name='ekta')

Hi My name is ekta and i am workingDeloitte

In [31]:
def calulation(a,b,c):
  result = (a+b)*c
  return result

In [32]:
def calulation_p(a,b,c):
  result = (a+b)*c
  print (result)

In [33]:
r = calulation(6,2,8)
rp = calulation_p(6,2,8)

64

In [34]:
r

64

In [36]:
rp

In [38]:
type(calulation_p(6,2,8))

64

NoneType

In [39]:
type(calulation(6,2,8))

int

In [40]:
def add(a,b,c=10,d=12):
  return a+b+c+d

In [41]:
add(2,2)

26

In [42]:
add(2,2,20)

36

In [43]:
add(1,3,4,5)

13

In [44]:
def multiply(a=1,b=1,c=1):
  return a*b*c

In [46]:
multiply(8,3)

24

In [47]:
multiply(8,3,2)

48

In [48]:
multiply()

1

In [51]:
def prod(*num):## we dont how many inputs are going to come here
  return num

In [52]:
prod(12,23,4,4,55,6)

(12, 23, 4, 4, 55, 6)

In [55]:
def prod(*num):
  r = 1
  for i in num:
    r*=i
  return r

In [56]:
prod(1,2,4,6)

48

In [57]:
def student_details(*name):
  for i in name :
    print(i)

In [58]:
student_details('anna','apppa')

anna
apppa

In [59]:
#**kwargs : keyword arguments

In [60]:
def student_sub(student,**subjects):
  print(f'My name is {student}')
  return f'I like these subjects{subjects}'

In [61]:
student_sub(student= 'Atul' ,subjects= ('eng','math','sci'))

My name is Atul

"I like these subjects{'subjects': ('eng', 'math', 'sci')}"

In [67]:
def marks_in_sub(**subjects):
  print(subjects)
  for i,j in subjects.items():
    print(f'Score in {i} and {j}')

In [68]:
marks_in_sub(sci =99,math= 78,bio =44)

{'sci': 99, 'math': 78, 'bio': 44}
Score in sci and 99
Score in math and 78
Score in bio and 44